<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= id %></h1>

  <p>Son auteur : <%= gossip.author %></p>
    
  <p>Le contenu du potin : <%= gossip.content %></p>

  <a href="/gossips/<%= id %>/edit">Edit</a>
  <br>
  <br>

  <p>Tu veux rajouter un commentaire ?</p>
  <form action='/gossips/<%= id %>/comment/' method='POST'>
      Saisi ici ton nom :  <input type='text' name='comment_author'/><br/>
      Balance ton commentaire : <input type='text' name='comment_content'/><br/>
      <input type='submit'/>
  </form>
  <br>
  <%comments.each do |comment|%>
  <blockquote>
  <p style="background: lightgrey; width: 20%; border-radius: 5px"><%=comment.content%></p>
  <footer>- <%=comment.author%><footer>
  </blockquote>
  <%end%>
  <br>

  <a href="/">Lien pour revenir à la page des potins</a>

  </body>
</html>